# Eclipse
.metadata/

# Node.js
node_modules/

# Maven
target/

# STS / Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Visual Studio
.vs/

# Environment
.env

# .NET
bin/
obj/

# Application uploads/data
application-service/resumeUploads/
data/

# Java
*.class	